.link-project {
  text-decoration: none;
  color: #424242;
  color: var(--background);
  padding: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease-in;
  background-color: ivory;
}

a.link-project:hover ,.home-footer:hover {
  background-color: #eebab2;
  cursor: pointer;
}

.work {
  margin-top: 30px;
  margin-bottom: 20px;
  animation: App-logo-spin infinite 20s linear;
}

.work-title {
  margin-top: 20vh;
  text-decoration: underline;
}

.home-header{
    text-decoration: underline;
}
.link-github {
  color: black;
  padding: 0px;
  margin-left:0px;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: fit-content;
}

.home-footer {
    position: fixed;
    bottom: 30px;
    background-color: ivory;
    padding: .5rem;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}
