.article {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: .3rem;
  font-weight: 400;
}
.background-image {
  background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized.gif');
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 4rem;
}

.scroll-down {
  position: fixed;
  margin-top: 96.4vh;
  color: black;
  z-index: 1;
}
