.link {
  text-decoration: none;
  color: #424242;
  color: var(--background);
  padding: 0.5rem;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
  background-color: ivory;
  width: fit-content;
  }

a.link:hover {
  background-color: #eebab2;
  cursor: pointer;
}

.link-github {
  color: black;
  margin-left: 15px;
  text-decoration: none;
  width: fit-content;
  transition: background 0.3s ease-in-out;
}

.link-github:hover {
  text-decoration: underline;
  font-size: 25px;
  font-weight: 300;
}

.work-main {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  /* width: max-content; */
  /* height: max-content; */
  background-color: cadetblue;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 2px solid black; */
  /* width: 100%; */
}

.work {
  margin-top: 10px;
  margin-bottom: 20px;
}

.projects{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 5rem;
}
iframe{
  /* width: 640px; */
}
/* .with-article{ */
  /* border: 2px solid red; */
  /* display: flex;
  flex-direction: row;
} */
article{
  padding: 0.5rem;
  font-size: 15px;
}
span{
  font-weight: bold;
  text-decoration: underline;
}
.first-li{
  text-decoration: underline;
  font-weight: bolder;
}

@media (max-width: 600px) {
  iframe {
    height: 300px;
 
  }
}
@media (min-width: 600px) {
  iframe { 
    height: 450px;
    /* margin: auto; */
    /* width: 500;
    border: 2px solid yellow; */
    /* max-width: 95vw;
    max-height: 85vh; */
   }
} 