.project-top-bar,
.project-bottom-bar {
  background-color: #f2e9e4;
  position: fixed;
  width: 100%;
  padding: 1.7vh;
  padding-right: 12rem;
}

.project-top-bar {
  top: 0;
}

.project-bottom-bar {
  bottom: 0;
}

.background-image {
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized.gif");
  /* why below not working but works with inline*/
  /* font-size: 10px; */
  text-align: center;
  font-size: 1px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto;
  margin-bottom: 5rem;
  width: 96vw;

  z-index: -1;
  border-radius: 1rem;
}
.work-main {
  display: flex;
  flex-direction: column;
  background-color: #33415c;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

iframe {
  border-radius: 1rem;
  border: 2px solid black;
  height: 375px;
}
.project-article {
  padding: 0.5rem;
  padding-left: 0px;
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.5em;
  color: #61a5c2;
  gap: 5rem;
}

.ul,
.li {
  padding-left: 0px;
  border: 2px solid black;
}
.link {
  box-shadow: 3px 3px 3px black;
  text-decoration: none;
  color: #424242;
  color: var(--background);
  padding: 0.5rem;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
  background-color: #61a5c2;
  width: fit-content;
}

a.link:hover {
  background-color: #eebab2;
  cursor: pointer;
}

span {
  text-decoration: underline;
}

@media (min-width: 811px) and (max-width: 1007px) {
  .projects {
    width: 55vw;
  }
  .work-main {
    box-shadow: 5px 5px 5px black;
  }
}

@media (min-width: 1007px) {
  .projects {
    width: 600px;
  }
  .work-main {
    box-shadow: 5px 5px 5px black;
  }
}
