.home-footer {
  height: 30vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 20vh;
}

.contact-footer {
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized.gif");
  text-transform: uppercase;
  text-align: center;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5rem;
}

.email-div {
  margin-top: 0.5rem;
  box-shadow: 3px 3px 3px black;
  background-color: #61a5c2;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.email-a {
  text-decoration: none;
  color: black;
}

.email-div:hover {
  background-color: #eebab2;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #eebab2;
}
.email-div .email-a :hover {
  color: black;
}

@media (min-width: 641px) {
  .home-footer {
    margin-top: 20vh;
    margin-bottom: 70vh;
  }
}

@media (min-width: 1008px) {
}
