.app-background {
  background-repeat: no-repeat;
  background-size: 95% 90%;
  background-position: center;
  background-attachment: fixed;
}

.App {
  color: black;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

* body {
  background-color: #f2e9e4;
  margin: 0;
}

.app-background {
  background-attachment: fixed;
  background-size: 96% 93%;
}

@media (min-width: 641px) and(max-width:1007px) {
  iframe {
    height: 560px;
  }
}

@media (min-width: 1008px) {
}
