@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

.App {
  background-color: #f2e9e4;
  color: black;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10rem;
  font-family: "Montserrat", sans-serif;
}

* body {
  background-color: #f2e9e4;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .App {
    margin: auto;
    max-width: 90vw;
    }
}

@media (min-width: 811px) {
  .App {
    margin: auto;
    max-width: 41%;
    }
}
/* @media (min-width: 810px) {
  .App {
    margin: auto;
    max-width: 50%;
    /* max-height: 90vh; */
/* margin-top: 5vh; */
/* }
}  */
